@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.square {
    width: 64px;
    padding: 16px;
}

.board-card {
    box-shadow: 0 0 8px gray;
    border-radius: 16px;
    padding: 28px;
    background-color: white;
}

.board {
    width: 288px;
    background-image: url('./assets/grid.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.footer {
    margin-top: 56px;
    margin-bottom: 56px;
}

.title {
    margin-top: 56px;
    margin-bottom: 56px;
}

.main {
    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f1;
    font-family: 'Quicksand', sans-serif;
}